body {
  background-image: url('galaxy_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

footer {
    margin-top: auto;
}

.jumbotron-custom {
    width: 60%;
    margin: auto;
}

.greetings {
    font-family: "Lucida Handwriting";
}

#percentage {
    font-family: Consolas, monaco, monospace;
}